# ログディレクトリ
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

dist-ssr
*.local

# エディタのディレクトリやファイル
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.jsの診断レポート (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# ランタイムデータ
pids
*.pid
*.seed
*.pid.lock

# jscoverage/JSCoverによって生成されるinstrumented libs用ディレクトリ
lib-cov

# istanbulなどのツールで使われるカバレッジディレクトリ
coverage
*.lcov

# nycテストカバレッジ
.nyc_output

# Gruntの中間ストレージ (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bowerの依存ディレクトリ (https://bower.io/)
bower_components

# node-wafの設定
.lock-wscript

# Node.jsのバイナリアドオン (https://nodejs.org/api/addons.html)
build/Release

# 依存ディレクトリ
node_modules/
jspm_packages/

# Snowpackの依存ディレクトリ (https://snowpack.dev/)
web_modules/

# TypeScriptのキャッシュ
*.tsbuildinfo

# オプションのnpmキャッシュディレクトリ
.npm

# オプションのeslintキャッシュ
.eslintcache

# オプションのstylelintキャッシュ
.stylelintcache

# Microbundleのキャッシュ
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# オプションのREPL履歴
.node_repl_history

# 'npm pack'の出力
*.tgz

# Yarnの整合性ファイル
.yarn-integrity

# dotenvの環境変数ファイル
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundlerのキャッシュ (https://parceljs.org/)
.cache
.parcel-cache

# Next.jsのビルド出力
.next
out

# Nuxt.jsのビルド/生成出力
.nuxt
dist

# Gatsbyのファイル
.cache/
# Gatsbyを使っていてNext.jsを使っていない場合はpublic行のコメントを外す
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepressのビルド出力
.vuepress/dist

# vuepress v2.xの一時・キャッシュディレクトリ
.temp
.cache

# Docusaurusのキャッシュと生成ファイル
.docusaurus

# Serverlessのディレクトリ
.serverless/

# FuseBoxのキャッシュ
.fusebox/

# DynamoDB Localのファイル
.dynamodb/

# TernJSのポートファイル
.tern-port

# VSCode拡張のテスト用に使われるVSCodeバージョンの保存
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
